@import "assets";

.footer{
  width: 100%;
  height: $footer-height;
  background-color:#F8F8F8;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;


  .footer-widget{
    width:50rem;
  }
}

.footer-widgets-container{
  display:flex;
  justify-content:center;
}

#menu-footer_menu {
  list-style: none;
}

#menu-footer_menu-1 {
  list-style: none;
}

#menu-footer_menu-2 {
  list-style: none;
}


